div.bar{
			display: inline-block;
			width: 30px;
			height: 75px;
			margin-right: 2px;
			}

circle {
  //fill: #ccc;
  //stroke: #fff;
  //stroke: black;
  stroke-width: 0.5px;
}

rect {
  //fill: #ccc;
  //stroke: #fff;
  //stroke: black;
  stroke-width: 0.5px;
}

triangle {
  //fill: #ccc;
  //stroke: #fff;
  //stroke: black;
  stroke-width: 0.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

